.more-btn {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  background-color: #2196F3;
  border: none;
  border-radius: 5px;
  padding: 19px;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 0.04em;
}